@font-face {
    font-family: 'Georgia Regular';
    src: url('/fonts/Georgia.eot');
    src: url('/fonts/Georgia.eot?#iefix') format('embedded-opentype'), url('/fonts/Georgia.woff') format('woff'), url('/fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, capxion, tbody, tfoot, thead, rt, th, td, article, aside, canvsas, details, embed, figure, figcapxion, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font: 14px/18px 'Georgia Regular', 'Times New Roman', Times, serif;
    background-color: #fff;
}

ol, ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* #wrapper {
    height: 1573px;
} */

.container {
    width: 960px;
    margin: 0 auto;
}

.top-border {
    height: 5px;
    background-color: #76c38f;
}

#header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
}

.title {
    font: 28px 'Georgia Regular', Arial, sans-serif;
    float: left;
}

.title a {
    color: #fff;
    margin-bottom: -3px;
}

.title p {
    color: #aaaaaa;
    font-size: 11px;
    /* padding-top: 2px; */
}

.nav {
    float: right;
    padding-top: 10px;
    /* align-content: flex-end; */
}

.nav li {
    float: left;
    margin-right: 40px;
    padding: 8px 15px;
    transition: 1s;
}

.nav li:last-child {
    margin-right: 0;
}

.nav a {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    transition: 0.4s;
}

.nav li:hover {
    background-color: #76c38f;
    border-radius: 10px;
}

#body-background {
    height: 1573px;
    background-color: #290000;
    background: #290000 url(../img/home-bg3.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider {
    color: #ffffff;
    height: 600px;
    background: url(../img/slider.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.review-flex-wrap {
    width: 960px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
}

.left-arrow, .right-arrow {
    width: 15px;
    height: 28px;
    margin-top: 321px;
    color: #76c38f;
    transition: 1s;
}

.left-arrow:hover, .right-arrow:hover {
    cursor: pointer;
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -webkit-transform: scale(2, 2);
    /* Safari */
    transform: scale(2, 2);
}

.review-title {
    padding-top: 215px;
    /* float: left; */
}

.slider h1 {
    font: 46px/46px 'Georgia Regular', Arial, sans-serif;
    color: #fff;
    margin-bottom: 32px
}

.slider p {
    font: 12px/12px 'Georgia Regular', Arial, sans-serif;
    color: #999;
    margin-bottom: 23px;
}

.btn {
    padding: 12px 16px;
    font: 13px 'Georgia Regular', Arial, sans-serif;
    background-color: #76c38f;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1, 1.1);
    /* Safari */
    transform: scale(1.1, 1.1);
}

.slider .slider-photo {
    margin-top: 120px;
    width: 434px;
    height: 434px;
    background: url(../img/avatar.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 100%;
    border: 27px solid #6b6b6b;
}

.slider-photo {
    
}

.container-flex {
    display: flex;
    width: 960px;
    margin: 0 auto;
    justify-content: space-around;
}

.service-card {
    width: 224px;
    height: 305px;
    margin-top: 60px;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
}

.service-card .card-simbol {
    position: relative;
    color: #000000;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 120px;
    color: #333333;
    /* background-color: #6b6b6b; */
    margin: 1px 32px 0px 32px;
}

h3.service-title {
    /* position: relative; */
    text-transform: uppercase;
    font-size: 32px;
    line-height: 30px;
    margin-top: 16px;
    text-align: center;
    color: #333333;
    transition: 0.5s;
    /* margin-left: 46px; */
}

p.service-description {
    font-size: 12px;
    text-align: center;
    margin-top: 14px;
    color: #979797;
    transition: 0.5s;
}

.service-card:hover {
    background-color: #76c38f;
    -ms-transform: scale(1.15, 1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15, 1.15);
    /* Safari */
    transform: scale(1.15, 1.15);
    cursor: pointer;
    box-shadow: 0px 5px 20px #2c4734;
}

.service-card:hover h3.service-title {
    color: #fff;
}

.service-card:hover p.service-description {
    color: #fff;
}

.service-card:hover .card-simbol {
    color: #545454;
}

.container-grid-latest {
    display: grid;
    grid-template-columns: 36.6% 26.6% 36.6%;
    grid-template-rows: repeat(9, 10.41%);
    width: 960px;
    margin: 40px auto 30px auto;
    justify-content: center;
}

.container-grid-latest>span {
    grid-column: 1, 3;
    grid-row: 5;
    background-color: #303030;
    height: 5px;
    /* position: relative; */
    /* margin-top: 23px; */
    /* height: 1px; */
    /* border-top: 5px solid #303030; */
}

.latest-subtitle {
    grid-column: 2;
    grid-row: 1/10;
    text-transform: uppercase;
    width: 260px;
    height: 48px;
    text-align: center;
    font-size: 32px;
    color: #fff;
    background-color: #303030;
    border-radius: 10px;
    padding: 15px;
}

.container-flex-latest-gallery {
    display: flex;
    width: 960px;
    height: 430px;
    margin: 0 auto;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.flex-element-latest-photo-item {
    padding: 0;
    width: 300px;
    height: 200px;
    background-color: #353535;
    border: 5px solid #fff;
    border-color: #fff;
    color: #ffffff;
    text-align: center;
    transition: .7s;
}

.i1 {
    background: url(../img/wp-portfolio.png) repeat center center;
    -webkit-background-size: border-box;
    -moz-background-size: border-box;
    -o-background-size: border-box;
    background-size: border-box;
}

.i2 {
    background: url(../img/html-portfolio.png) repeat center bottom;
    -webkit-background-size: border-box;
    -moz-background-size: border-box;
    -o-background-size: border-box;
    background-size: border-box;
}

.i3 {
    background: url(../img/avatar.jpg) repeat center center;
    -webkit-background-size: border-box;
    -moz-background-size: border-box;
    -o-background-size: border-box;
    background-size: border-box;
}

.i4, .i5, .i6 {
    background-color: #303030;
}

.flex-element-latest-photo-item .bottom-line {
    text-transform: uppercase;
    font-size: 14px;
    height: 30px;
    width: 100%;
    display: block;
    position: relative;
    background-color: #151515;
    opacity: 0.7;
    top: 160px;
    padding: 5px;
    color: #fff;
    transition: .7s;
}

.flex-element-latest-photo-item:hover {
    border-color: #76c38f;
    -ms-transform: scale(1.15, 1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15, 1.15);
    /* Safari */
    transform: scale(1.15, 1.15);
    cursor: pointer;
    box-shadow: 0px 5px 20px #2c4734;
}

.flex-element-latest-photo-item:hover .bottom-line {
    /* position: relative;
    top: 200px; */
    opacity: 0;
}

.footer {
    background-color: #303030;
    width: 100%;
    border-bottom: solid 1px #000000;
}

.footer-flex-wrapper {
    display: flex;
    background-color: #303030;
    width: 960px;
    height: 387px;
    margin: 0 auto;
    padding-top: 38px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}

.footer-flex-wrapper .title {
    font-size: 16px;
}

.footer-flex-wrapper .blog, .links, .tweets, .contact {
    text-align: left;
    width: 225px;
}

.copyright-line {
    height: 60px;
    width: 100%;
    background-color: #2b2b2b;
    border-top: solid 1px #3a3a3a;
}

.copyright-flex-wrapper {
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding-top: 24px;
    justify-content: space-between;
    align-content: space-between;
}

.rights {
    color: #979797;
    font-size: 13px;
}

/* .flex-element-latest-photo-item .dv{
    position: absolute;
    top: 160px;
    height: 40px;
    background-color: #000000;
} */

/* @media (max-width: 1200px) {
    .container, .container-flex-latest-subtitle  {
        width: 960px;
        margin: 0 auto;
        transition: 0.4s;
    }
}

@media (max-width: 1060px) {
    .container, .container-flex-latest-subtitle  {
        width: 768px;
        margin: 0 auto;
        transition: 0.4s;
    }
    .slider .slider-photo {
        width: 380px;
        height: 380px;
        border: 27px solid #6b6b6b;
        transition: 0.4s;
    }
}

@media (max-width: 808px) {
    .container, .container-flex-latest-subtitle  {
        width: 640px;
        margin: 0 auto;
        transition: 0.4s;
    }
    .slider .slider-photo {
        display: block;
        width: 240px;
        height: 240px;
        border: 10px solid #6b6b6b;
        transition: 0.4s;
    }
}

@media (max-width: 700px) {
    .container, .container-flex-latest-subtitle  {
        width: 520px;
        margin: 0 auto;
        transition: 0.4s;
    }
    .slider .slider-photo {
        display: none;
        transition: 0.4s;
    }
} */