@font-face {
    font-family: 'Georgia Regular';
    src: url('../fonts/Georgia.eot');
    src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'), url('../fonts/Georgia.woff') format('woff'), url('../fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, capxion, tbody, tfoot, thead, rt, th, td, article, aside, canvsas, details, embed, figure, figcapxion, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font: 14px/18px 'Georgia Regular', 'Times New Roman', Times, serif;
    /* vertical-align: baseline; */
    display: block;
}

h4 {
    font-size: 20px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font: 14px/18px 'Georgia Regular', 'Times New Roman', Times, serif;
    background-color: #fff;
}

ol, ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.top-border {
    height: 5px;
    background-color: #76c38f;
}

#header {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    padding: 20px 0;
}

.title {
    margin: 0 auto 0 0;
}

.title a {
    color: #fff;
    margin-bottom: -3px;
    font: 28px 'Georgia Regular', Arial, sans-serif;
}

.title p {
    color: #aaaaaa;
    font-size: 14px;    
}

.nav {
    margin: 0 0 0 auto;
    padding-top: 10px;    
}

.nav li {
    display: inline-flex;
    margin-right: 40px;
    padding: 8px 15px;
    transition: 1s;
}

.nav li:last-child {
    margin-right: 0;
}

.nav a {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    transition: 0.4s;
}

.nav li a#lang {
    text-decoration: underline;
}

.nav li:hover {
    background-color: #76c38f;
    border-radius: 10px;
}

#body-background {
    /* height: 1573px; */
    padding-bottom: 30px;
    background-color: #290000;
    background: #290000 url(../img/home-bg3.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider {
    color: #ffffff;
    height: 600px;
    background: url(../img/slider.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.review-flex-wrap {
    width: 960px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
}

.left-arrow, .right-arrow {
    width: 15px;
    height: 28px;
    margin-top: 321px;
    color: #76c38f;
    transition: 1s;
}

.left-arrow:hover, .right-arrow:hover {
    cursor: pointer;
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -webkit-transform: scale(2, 2);
    /* Safari */
    transform: scale(2, 2);
}

.review-title {
    padding-top: 215px;
    /* float: left; */
}

.slider h1 {
    font: 46px/46px 'Georgia Regular', Arial, sans-serif;
    color: #fff;
    margin-bottom: 32px
}

.slider p {
    font: 12px/12px 'Georgia Regular', Arial, sans-serif;
    color: #999;
    margin-bottom: 23px;
}

.btn {
    width: 45%;
    padding: 12px 16px;
    font: 13px 'Georgia Regular', Arial, sans-serif;
    background-color: #76c38f;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1, 1.1);
    /* Safari */
    transform: scale(1.1, 1.1);
}

.slider .slider-photo {
    margin-top: 120px;
    width: 434px;
    height: 434px;
    background: url(../img/avatar.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 100%;
    border: 27px solid #6b6b6b;
}

.modalWindow {
    position: fixed;
    top: 5px;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* активируем модальное окно */

.modalWindow:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}

/* блочная таблица */

.modalWindow-table {
    display: table;
    width: 100%;
    height: 100%;
}

/* ячейка блочной таблицы */

.modalWindow-cell {
    display: table-cell;
    padding: 1em 1em;
    vertical-align: middle;
    text-align: center;
}

.modalWindow-container {
    display: inline-flex;
    font-size: 14px;
    line-height: 32px;
    min-width: 50%;
    min-height: 50%;
    background: #dddddd;
    color: white;
    border: 2px solid #333;
    padding: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 20px #76c38f;
    ;
    /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #76c38f;
    ;
    /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #76c38f;
    ;
    /* Safari, Chrome */
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px;
    /* Firefox */
    -webkit-border-radius: 15px;
    /* Safari, Chrome */
}

.modalWindow-content {
    width: 100%;
    color: #2c4734;
}

.modalWindow-content>h3.service-title {
    font-size: 46px;
    color: #303030;
    margin-bottom: 30px;
}

.modalWindow-content>ul.service-description {
    list-style: square outside;
}

.modalWindow-content>ul.service-description>li {
    padding: 10px 30px;
    font-size: 22px;
    color: #303030;
    text-align: left;
}

.container-flex {
    display: flex;
    width: 960px;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    transform: scale(1, 1);
    width: 224px;
    height: 305px;
    margin-top: 60px;
    background-color: #fff;
    padding: 20px;
    transition: 1s;
    z-index: 1;
}

.service-card.ru {
    transform: scale(1, 1);
    width: 224px;
    height: 315px;
    margin-top: 60px;
    background-color: #fff;
    padding: 20px;
    transition: 1s;
    z-index: 1;
}

.card-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .service-card .card-content-wrapper {
    transform: scale(1,1);
}

.service-card.scaled, .service-card.scaled:hover {
    transform: scale(3,2);
    z-index: 5;
} */

.service-card .card-simbol i{
    position: relative;
    color: #000000;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 120px;
    color: #333333;
    /* background-color: #6b6b6b; */
    margin: 1px 32px 0px 32px;
}

h3.service-title {
    /* position: relative; */
    text-transform: uppercase;
    font-size: 32px;
    line-height: 30px;
    margin-top: 16px;
    text-align: center;
    color: #333333;
    transition: 0.5s;
    /* margin-left: 46px; */
}

h3.service-title.ru {
    /* position: relative; */
    text-transform: uppercase;
    font-size: 22px;
    line-height: 25px;
    margin-top: 16px;
    text-align: center;
    color: #333333;
    transition: 0.5s;
    /* margin-left: 46px; */
}

p.service-description {
    font-size: 12px;
    text-align: center;
    margin-top: auto;
    color: #979797;
    transition: 0.5s;
}

p.service-description.ru {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-top: 14px;
    color: #979797;
    transition: 0.5s;
}

.service-card:hover {
    background-color: #76c38f;
    -ms-transform: scale(1.15, 1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15, 1.15);
    /* Safari */
    transform: scale(1.15, 1.15);
    cursor: pointer;
    box-shadow: 0px 5px 20px #2c4734;
}

.service-card:hover h3.service-title {
    color: #fff;
}

.service-card:hover p.service-description {
    color: #fff;
}

.service-card:hover .card-simbol {
    color: #545454;
}

.container-grid-latest {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: repeat(9, 10.41%);
    width: 960px;
    margin: 40px auto 30px auto;
    justify-content: center;
}

.container-grid-latest>span {
    grid-column: 1 / span 3;
    grid-row: 5;
    background-color: #303030;
    height: 5px;
    /* position: relative; */
    /* margin-top: 23px; */
    /* height: 1px; */
    /* border-top: 5px solid #303030; */
}

.latest-subtitle {
    grid-column: 2;
    grid-row: 1/10;
    text-transform: uppercase;
    /* width: 260px;
    height: 48px; */
    text-align: center;
    font-size: 32px;
    color: #fff;
    background-color: #303030;
    border-radius: 10px;
    padding: 15px;
    z-index: 5;
}

.container-flex-latest-gallery {
    position: relative;
    display: flex;
    width: 960px;
    /* height: 430px; */
    margin: 0 auto;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.flex-element-latest-photo-item {
    width: 300px;
    height: 200px;
    background-color: #353535;
    border: 5px solid #fff;
    border-color: #fff;
    color: #ffffff;
    text-align: center;
    transition: .7s;
    padding: 0;
    margin-top: 20px;
}

.i1, .i2, .i3, .i4, .i5, .i6 {
    -webkit-background-size: content-box;
    -moz-background-size: content-box;
    -o-background-size: content-box;
    background-size: content-box;
}

.i1 {
    background: url(../img/modern-banner_1176-220.jpg) no-repeat center center;
}

.i2 {
    background: url(../img/hand-drawn-healthy-food-background_23-2147863438.jpg) repeat center bottom;
}

.i3 {
    background: url(../img/modern-origami-sale-banner_1361-537.jpg) repeat center center;
}

.i4 {
    background: url(../img/abstract-design-background_1048-6726.jpg) repeat center center;
}

.i5 {
    background: url(../img/elegant-wedding-invitation-with-cactus-and-golden-frame_1361-547.jpg) repeat center bottom;
}

.i6 {
    background: url(../img/vintage-wedding-frame_1124-133.jpg) repeat center center;
}

.flex-element-latest-photo-item .bottom-line {
    text-transform: uppercase;
    font-size: 14px;
    height: 30px;
    width: 100%;
    display: block;
    position: relative;
    background-color: #151515;
    opacity: 0.7;
    top: 160px;
    padding: 5px;
    color: #fff;
    transition: .7s;
}

.flex-element-latest-photo-item:hover {
    border-color: #76c38f;
    -ms-transform: scale(1.15, 1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15, 1.15);
    /* Safari */
    transform: scale(1.15, 1.15);
    cursor: pointer;
    box-shadow: 0px 5px 20px #2c4734;
}

.flex-element-latest-photo-item:hover .bottom-line {
    /* position: relative;
    top: 200px; */
    opacity: 0;
}

.footer {
    position: relative;
    background-color: #303030;
    width: 100%;
    border-bottom: solid 1px #000000;
}

.footer-flex-wrapper {
    display: flex;
    background-color: #303030;
    width: 960px;
    /* height: 100px; */
    margin: 0 auto;
    padding-top: 38px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    color: #76c38f;
}

.footer-flex-wrapper .title {
    font-size: 24px;
    margin-right: auto;
    text-transform: uppercase;
}

.footer-flex-wrapper a {
    height: 35px;
    margin: 0 10px;
    cursor: pointer;
    color: #76c38f;
}

/* .footer-flex-wrapper .blog, .links, .tweets, .contact {
    text-align: left;
    width: 225px;
} */

.footer-flex-wrapper i {
    font-size: 40px;
    margin-top: -8px;
    margin-left: 20px;
}

.footer form {
    width: 960px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.footer form .span-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    margin: 0 auto 0 0;
}

.footer form .span-wrapper span{
    font-size: 16px;
    margin: 16px 0 0 0;
    padding: 0 0 32px;
}

/* .footer form .span-wrapper:first-child{
    margin: 0 0 25px 0;
} */

.footer form .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 0 30px auto;
}

.footer form .input-wrapper input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    height: 50px;
    width: 100%;
    border: 1px solid #545454;
    background-color: #303030;
    color: #ffffff;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 15px;
}

.footer form .input-wrapper input:focus {
    border: 1px solid #76c38f;
    box-shadow: 0px 0px 20px #76c38f;
}

.footer form .input-wrapper .submit {
    height: 50px;
    width: 75%;
    padding: 0;
    border: none;
    background-color: #76c38f;
    cursor: pointer;
    border-radius: 40px;
    color: #303030;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer form .input-wrapper .submit:hover {
    transform: scale(1.125);
    transition: 0.6s;
}

.footer form .input-wrapper .submit:focus{
    border: none;
    box-shadow: 0px 0px 0px #303030;
}

.copyright-line {
    height: 60px;
    width: 100%;
    background-color: #2b2b2b;
    border-top: solid 1px #3a3a3a;
}

.copyright-flex-wrapper {
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding-top: 24px;
    justify-content: space-between;
    align-content: space-between;
}

.rights {
    color: #979797;
    font-size: 13px;
}

/* .flex-element-latest-photo-item .dv{
    position: absolute;
    top: 160px;
    height: 40px;
    background-color: #000000;
} */

@media (max-width: 1200px) {
    .container, .container-grid-latest, .container-flex, .container-flex-latest-gallery, .container-flex-latest-subtitle, .review-flex-wrap, #header, .footer-flex-wrapper  {
        width: 960px;
        margin: 0 auto;
        transition: 1s;
    }
    .container-grid-latest {
        margin: 40px auto 30px auto;
    }
}

@media (max-width: 1060px) {
    .container, .container-grid-latest, .container-flex, .container-flex-latest-gallery, .container-flex-latest-subtitle, .review-flex-wrap, #header, .footer-flex-wrapper  {
        width: 768px;
        margin: 0 auto;
        transition: 1s;
    }
    .container-grid-latest {
        margin: 40px auto 30px auto;
    }
    .latest-subtitle {
        font-size: 28px;
        line-height: 28px;
        padding: 10px 5px 10px 5x;
    }
    .review-flex-wrap .slider-photo {
        width: 380px;
        height: 380px;
        border: 27px solid #6b6b6b;
        transition: 1s;
    }
}

@media (max-width: 808px) {
    .container, .container-grid-latest, .container-flex, .container-flex-latest-gallery, .container-flex-latest-subtitle, .review-flex-wrap, #header, .footer-flex-wrapper  {
        width: 640px;
        margin: 0 auto;
        transition: 1s;
    }
    .container-grid-latest {
        margin: 40px auto 30px auto;
    }
    .latest-subtitle {
        font-size: 28px;
        line-height: 28px;
        padding: 10px 5px 10px 5x;
    }
    .review-flex-wrap .slider-photo {
        display: block;
        width: 240px;
        height: 240px;
        border: 10px solid #6b6b6b;
        transition: 1s;
    }
}

@media (max-width: 700px) {
    .container, .container-grid-latest, .container-flex, .container-flex-latest-gallery, .container-flex-latest-subtitle, .review-flex-wrap, #header, .footer-flex-wrapper  {
        width: 520px;
        margin: 0 auto;
        transition: 1s;
    }
    .container-grid-latest {
        margin: 40px auto 30px auto;        
    }
    .latest-subtitle {
        font-size: 28px;
        line-height: 28px;
        padding: 10px 5px 10px 5x;
    }

    .review-flex-wrap .slider-photo {
        display: none;
        transition: 1s;
    }
    .container-flex-latest-gallery {
        justify-content: center;
    }

    /* .nav li {
        margin-right: auto;
    }
    .nav a {
        font-size: 14px;
    } */
    .nav {
        display: none;
    }
}